## Deliverable 3. Create a Travel Itinerary Map.

In [40]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [43]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv", index_col = "City_ID")
vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
4,Laguna,US,88.43,clear sky,38.4210,-121.4238,NaN
18,Kloulklubed,PW,84.70,broken clouds,7.0419,134.2556,NaN
25,Sakakah,SA,75.04,clear sky,29.9697,40.2064,NaN
27,San Francisco,US,76.98,smoke,37.7749,-122.4194,NaN
35,Merauke,ID,81.88,overcast clouds,-8.4667,140.3333,NaN

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [38]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_end = vacation_df.loc[vacation_df["City"] == "San Francisco"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Sakakah"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Port Hedland"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Hambantota"]

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat","Lng"]].to_numpy()[0].tolist())
end = tuple(vacation_end[["Lat","Lng"]].to_numpy()[0].tolist())
stop1 = tuple(vacation_stop1[["Lat","Lng"]].to_numpy()[0].tolist())
stop2 = tuple(vacation_stop2[["Lat","Lng"]].to_numpy()[0].tolist())
stop3 = tuple(vacation_stop3[["Lat","Lng"]].to_numpy()[0].tolist())

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_route = gmaps.directions_layer(start, end, waypoints = [stop1,stop2,stop3], travel_mode = "DRIVING")
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Laguna,US,88.43,clear sky,38.4210,-121.4238,NaN
1,Sakakah,SA,75.04,clear sky,29.9697,40.2064,NaN
2,Port Hedland,AU,75.25,few clouds,-20.3167,118.5667,NaN
3,Hambantota,LK,79.02,overcast clouds,6.1241,81.1185,NaN

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig2.add_layer(marker_layer)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))