## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Laguna,US,88.43,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,18,Kloulklubed,PW,84.70,broken clouds,7.0419,134.2556,Storyboard Beach Resort
2,25,Sakakah,SA,75.04,clear sky,29.9697,40.2064,Fakhamat Al Orjoana Apartment
3,27,San Francisco,US,76.98,smoke,37.7749,-122.4194,The Clift Royal Sonesta Hotel
4,35,Merauke,ID,81.88,overcast clouds,-8.4667,140.3333,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0    38.4210 -121.4238
1     7.0419  134.2556
2    29.9697   40.2064
3    37.7749 -122.4194
4    -8.4667  140.3333
..       ...       ...
189  27.0833 -101.5333
190  -0.9492  100.3543
191  -2.6667  -79.6167
192  19.9333 -105.2500
193  13.6408   16.4901

[194 rows x 2 columns]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "San Francisco"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "San Jose"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Port Hueneme"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#Latitute-Longitude pairs 

start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Laguna,US,88.43,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,27,San Francisco,US,76.98,smoke,37.7749,-122.4194,The Clift Royal Sonesta Hotel
2,76,San Jose,US,78.44,smoke,37.3394,-121.8950,The Westin San Jose
3,202,Port Hueneme,US,78.62,overcast clouds,34.1478,-119.1951,Hampton Inn Channel Islands Harbor

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig2.add_layer(markers)

# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))